absl-py==1.4.0
apparmor==3.1.3
appdirs==1.4.4
argcomplete==2.0.0
argon2-cffi==21.1.0
asgiref==3.7.2
asttokens==2.2.1
astunparse==1.6.3
async-generator==1.10
attrs==22.1.0
Authlib==1.2.0
Babel==2.10.3
backcall==0.2.0
Beaker==1.10.0
beautifulsoup4==4.12.2
bleach==4.0.0
bodhi-client==7.1.1
Bottleneck==1.3.2
Brlapi==0.8.4
Brotli==1.0.9
cachetools==5.2.0
CCColUtils==1.5
certifi==2021.10.8
cffi==1.15.1
chardet==5.1.0
charset-normalizer==2.1.0
click==8.1.3
colorama==0.4.6
conda==4.13.0
conda-package-handling==1.8.1
configobj==5.0.6
construct==2.10.68
contourpy==1.0.7
cryptography==37.0.2
cssselect==1.1.0
cupshelpers==1.0
cycler==0.11.0
cytoolz==0.11.2
dbus-python==1.3.2
decorator==5.1.1
defusedxml==0.7.1
distro==1.7.0
Django==4.2.1
dnspython==2.2.1
entrypoints==0.3
et-xmlfile==1.1.0
evdev==1.6.0
executing==1.2.0
fastjsonschema==2.16.1
fedora-third-party==0.10
fedpkg==1.44
file-magic==0.4.0
filelock==3.7.1
flatbuffers==23.3.3
fonttools==4.37.2
fros==1.1
frozendict==1.2
fs==2.4.11
fsspec==2022.11.0
gast==0.4.0
gitdb==4.0.9
GitPython==3.1.30
google-api-core==2.11.0
google-auth==2.16.2
google-auth-oauthlib==0.4.6
google-cloud-vision==3.4.1
google-pasta==0.2.0
googleapis-common-protos==1.59.0
gpg==1.17.0
greenlet==1.1.2
grpcio==1.53.0
grpcio-status==1.53.0
gssapi==1.7.3
h5py==3.8.0
html5lib==1.1
humanize==3.13.1
idna==3.3
ipykernel==6.15.2
ipython==8.11.0
ipython-genutils==0.2.0
jax==0.4.6
jdcal==1.4.1
jedi==0.18.2
Jinja2==3.0.3
joblib==1.2.0
jsonschema==4.10.0
jupyter-core==4.10.0
jupyter_client==7.4.2
jupyterlab-pygments==0.1.2
keras==2.12.0rc1
kerberos==1.3.0
kitchen==1.2.6
kiwisolver==1.4.4
koji==1.32.0
langtable==0.0.61
LibAppArmor==3.1.3
libclang==15.0.6.1
libcomps==0.1.18
lockfile==0.12.2
lutris==0.5.13
lxml==4.9.1
Mako==1.1.4
Markdown==3.4.1
MarkupSafe==2.1.1
matplotlib==3.6.3
matplotlib-inline==0.1.6
mistune==0.8.4
mock==5.0.2
munch==2.5.0
munkres==1.1.2
mutagen==1.45.1
nbclient==0.5.11
nbconvert==6.4.5
nbformat==5.4.0
nest-asyncio==1.5.5
netifaces==0.11.0
nftables==0.1
nltk==3.8.1
notebook==6.4.12
notify2==0.3.1
numexpr==2.8.1
numpy==1.24.2
oauthlib==3.2.2
odfpy==1.4.1
olefile==0.46
opencv-python==4.7.0.72
openidc-client==0.7.0
openpyxl==3.0.10
opt-einsum==3.3.0
packaging==21.3
panda==0.3.1
pandas==1.5.3
pandas-datareader==0.10.0
pandocfilters==1.5.0
parso==0.8.3
Paste==3.5.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.2.0
ply==3.11
progressbar2==3.53.2
prometheus-client==0.13.1
prompt-toolkit==3.0.38
proto-plus==1.22.2
protobuf==4.22.1
psutil==5.9.1
psycopg2==2.9.3
ptyprocess==0.6.0
pure-eval==0.2.2
py-cpuinfo==8.0.0
pyarrow==9.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pybeam==0.7
pycairo==1.21.0
pycosat==0.6.3
pycparser==2.20
pycrypto==2.6.1
pycryptodomex==3.17.0
pycups==2.0.1
pycurl==7.45.1
pyenchant==3.2.2
pygit2==1.7.1
Pygments==2.14.0
PyGObject==3.42.2
PyMySQL==1.0.2
pyOpenSSL==21.0.0
pyparsing==3.0.9
pypresence==4.2.1
PyQt5==5.15.9
PyQt5-sip==12.11.0
pyroute2==0.6.12
pyroute2.core==0.6.12
pyroute2.ethtool==0.6.12
pyroute2.ipdb==0.6.12
pyroute2.ipset==0.6.12
pyroute2.ndb==0.6.12
pyroute2.nftables==0.6.12
pyroute2.nslink==0.6.12
pyrsistent==0.18.1
PySocks==1.7.1
pytesseract==0.3.10
python-augeas==1.1.0
python-bugzilla==3.2.0
python-dateutil==2.8.2
python-dotenv==1.0.0
python-fedora==1.1.1
python-snappy==0.6.1
python-utils==3.1.0
python-yubico==1.3.3
pytz==2023.3
pyusb==1.2.1
pyxdg==0.27
PyYAML==6.0
pyzmq==23.2.0
QtPy==2.1.0
regex==2022.10.31
requests==2.28.1
requests-file==1.5.1
requests-gssapi==1.2.3
requests-kerberos==0.12.0
requests-oauthlib==1.3.1
rpkg==1.66
rpm==4.18.1
rpmautospec==0.3.5
rpmlint==2.4.0
rsa==4.9
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.6
scikit-learn==1.2.2
scipy==1.10.1
scour==0.38.2
seaborn==0.12.2
selinux==3.5
Send2Trash==1.8.0
sepolicy==3.5
setools==4.4.0
setproctitle==1.2.3
shtab==1.5.8
simpleaudio==1.0.4
six==1.16.0
sklearn==0.0.post5
smmap==5.0.0
sos==4.4
soupsieve==2.3.2.post1
SQLAlchemy==1.4.46
sqlparse==0.4.4
stack-data==0.6.2
steam==1.4.3
systemd-python==235
tables==3.7.0
tabulate==0.9.0
Tempita==0.5.2
templated-dictionary==1.1
tensorboard==2.12.0
tensorboard-data-server==0.7.0
tensorboard-plugin-wit==1.8.1
tensorflow==2.12.0rc1
tensorflow-estimator==2.12.0rc0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.2.0
terminado==0.15.0
testpath==0.6.0
threadpoolctl==3.1.0
tk==0.1.0
tldextract==3.4.0
tldr==3.1.0
tomli_w==1.0.0
toolz==0.11.2
torbrowser-launcher==0.3.6
tornado==6.2
tqdm==4.65.0
traitlets==5.9.0
typing_extensions==4.5.0
urllib3==1.26.12
VapourSynth==60
vdf==3.4
wcwidth==0.2.6
webencodings==0.5.1
websockets==10.3
Werkzeug==2.2.3
wrapt==1.14.1
xarray==2022.3.0
xlrd==2.0.1
XlsxWriter==3.1.0
xlwt==1.3.0
yt-dlp==2023.3.4
zstandard==0.19.0
